@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
    background-color: var(--light-blue);
    color: var(--grey);
    padding: 10px 10px;
    border: 1px solid var(--color-sec);
    border-radius: 25px;
}

hr {
    margin: 10px 0px;
}

input {
    max-width: 75px;
    margin: 5px 0px;
}

button {
    border-radius: 10px;
    padding: 5px;
}

button:hover {
    background-color: var(--color-primary);
    color: var(--grey);
    font-weight: 700;
}

#random-number {
    border: 1px solid var(--grey);
    font-size: 4em;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: var(--color-sec);
    font-weight: 700;
}